.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.note {
  background-color: aliceblue;
  color: #282c34;
  border: solid 5px rgb(0, 22, 41);
  border-radius: 6px;
  padding: calc(10px + 1vmin) calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 16rem;
}

.note-maker {
  background-color: #EEFFFF;
  color: #282c34;
  border: solid 5px rgb(0, 22, 41);
  border-radius: 6px;
  padding: calc(10px + 1vmin) calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.note-title {
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  justify-content: space-between;
  display: flex;
  width: 15rem;
}

.note-contents {
  font-size: calc(8px + 1vmin);
  margin-block-start: 0em;
  margin-block-end: .5em;
}

.note-time{
  font-size: calc(6px + 1vmin);
  font-style: italic;
}

.date-week-view{
  display: flex;
  flex-direction: row;
}

.date-box{
  height: 100px;
  background-color: #EEFFFF;
  color: #282c34;
  border: solid 5px rgb(0, 22, 41);
  border-radius: 6px;
  padding: calc(10px + 1vmin) calc(10px + 1vmin);
}

.input-stuff{
  display: flex;
  flex-direction: column;
  align-items: center;
}